---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Inicio - Bankisy">
    <main>
        <h1 class="text-center text-4xl font-bold text-white my-7">Bienvenido a Bankisy, tu banco de confianza</h1>
        <p class="m-3 text-center text-xl font-semibold text-amber-50">
            <strong>¡Hola!</strong> Estás viendo la página de inicio de Bankisy. Aquí encontrarás información sobre cómo
            comenzar a usar nuestra aplicación.
        </p>
        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2 mx-4">
            <Card
                    image="/money.svg"
                    title="Préstamos"
                    body="¿Necesitas dinero? Solicita un préstamo en Bankisy."
                    buttonText="Solicitar préstamo"
            />
            <Card
                    image="/money.svg"
                    title="Fondos de inversión"
                    body="Descubre los fondos de inversión que tenemos para ti."
                    buttonText="Ver fondos"
            />
            <Card
                    image="/money.svg"
                    title="Tarjetas de crédito"
                    body="Descubre todas las tarjetas de crédito que tenemos."
                    buttonText="Ver tarjetas"
            />
            <Card
                    image="/money.svg"
                    title="Cuentas de ahorro"
                    body="Con nuestras cuentas de ahorro, podrás ahorrar dinero."
                    buttonText="Ver cuentas"
            />
        </ul>
    </main>
</Layout>
